#Blog
{
    background-color: rgb(255, 255, 255);  
}
#EmojiBlock
{
  display: flex;
  flex-direction: row;
}
#EmojiBlock div
{
    margin-right: 15px;
}
#MainPicture
{
    width: 400px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
#ContectText
{
    margin-top: 0px;
}

/*
#Blog
{
    background-color: red;
    flex: 2;
}*/